{% extends "base.html" %}

{% block content %}
    <h1>Contact My Kyta</h1>
    
    <p>If you'd like to get in touch with My Kyta, please use the following contact information:</p>

    <ul>
        <li>Email: mykytashch@hotmail.com</li>
        <li>Blog: <a href="https://mykytashc.blogspot.com" target="_blank">mykytashc.blogspot.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/mykytashch" target="_blank">mykytashch</a></li>
        <!-- Add more contact information here if needed -->
    </ul>

    <p>We value your feedback and inquiries, and we'll get back to you as soon as possible. Thank you for choosing My Kyta!</p>
{% endblock %}
