{% extends "base.html" %}

{% block content %}
    <h1>Our Services</h1>
    
    <p>At My Kyta, we offer a range of services to help you achieve your goals and advance your toolset. Our services include:</p>

    <ul>
        <li>Order Management Panel</li>
        <li>Messenger Integration</li>
        <li>Analytics Tools</li>
        <!-- Add more services here if needed -->
    </ul>

    <p>We are committed to providing high-quality solutions and excellent customer service. Whether you're an individual or a business, we have the tools to support your success.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or would like to inquire about our services, please don't hesitate to contact us:</p>

    <ul>
        <li>Email: mykytashch@hotmail.com</li>
        <!-- Add more contact information here if needed -->
    </ul>
{% endblock %}
